## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [26]:
import os
import numpy as np
import pandas as pd

In [43]:
# 設定 data_path
# dir_data = './data/'
df= pd.read_csv(r'C:\Users\Allen\Documents\GitHub\3rd-ML-100Days\homework\NBA_season1718_salary.csv',index_col=0)
df.head(3)

          Player   Tm  season17_18
1  Stephen Curry  GSW   34682550.0
2   LeBron James  CLE   33285709.0
3   Paul Millsap  DEN   31269231.0

In [28]:
#f_app = os.path.join(dir_data, 'application_train.csv')
#print('Path of read in data: %s' % (f_app))
#app_train = pd.read_csv(f_app)

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [30]:
print('(row_numbers,column_numbers) is ',df.shape)

(row_number,column_number) is  (573, 3)

#### 列出所有欄位

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 573 entries, 1 to 573
Data columns (total 3 columns):
Player         573 non-null object
Tm             573 non-null object
season17_18    573 non-null float64
dtypes: float64(1), object(2)
memory usage: 17.9+ KB

#### 截取部分資料

In [61]:
#擷取排列順序前四位球員
df[['Player','Tm','season17_18']][0:4]

           Player   Tm  season17_18
1   Stephen Curry  GSW   34682550.0
2    LeBron James  CLE   33285709.0
3    Paul Millsap  DEN   31269231.0
4  Gordon Hayward  BOS   29727900.0

In [52]:
#擷取排列順序第2位球員
df.iloc[1]

Player         LeBron James
Tm                      CLE
season17_18     3.32857e+07
Name: 2, dtype: object

In [56]:
#擷取排列順序第24位球員之全部資料
df.iloc[[23]]

           Player   Tm  season17_18
24  Dwight Howard  CHO   23500000.0

In [60]:
#擷取Atlanta Hawk之隊員
TM_ATL=df['Tm']=='ATL'
df[TM_ATL]

                    Player   Tm  season17_18
61           Kent Bazemore  ATL   16910113.0
71         Dennis Schroder  ATL   15500000.0
96           Miles Plumlee  ATL   12500000.0
112         Jamal Crawford  ATL   10942762.0
167        Marco Belinelli  ATL    6306060.0
181         Ersan Ilyasova  ATL    6000000.0
182         Dewayne Dedmon  ATL    6000000.0
203           Mike Muscala  ATL    5000000.0
279      Richard Jefferson  ATL    2500000.0
280        Malcolm Delaney  ATL    2500000.0
286  Taurean Waller-Prince  ATL    2422560.0
335           John Collins  ATL    1936920.0
352          Mike Dunleavy  ATL    1662500.0
364        DeAndre' Bembry  ATL    1567200.0
434            Sheldon Mac  ATL    1312611.0
435            Okaro White  ATL    1312611.0
436       Nicolas Brussino  ATL    1312611.0
437          Diamond Stone  ATL    1312611.0
438          Isaiah Taylor  ATL    1312611.0
468           Tyler Dorsey  ATL     815615.0
484        Tyler Cavanaugh  ATL     679919.0
516             Quinn Cook  ATL     100000.0
523     Antonius Cleveland  ATL      92160.0
524          Jaylen Morris  ATL      92160.0
534        Tyler Cavanaugh  ATL      50000.0
559           Jeremy Evans  ATL      50000.0
567        DeAndre Liggins  ATL      26773.0

In [63]:
#擷取年薪2000萬以上(含)之球員
Salary_20million=df['season17_18']>=20000000
df[Salary_20million]

                   Player   Tm  season17_18
1           Stephen Curry  GSW   34682550.0
2            LeBron James  CLE   33285709.0
3            Paul Millsap  DEN   31269231.0
4          Gordon Hayward  BOS   29727900.0
5           Blake Griffin  DET   29512900.0
6              Kyle Lowry  TOR   28703704.0
7       Russell Westbrook  OKC   28530608.0
8             Mike Conley  MEM   28530608.0
9            James Harden  HOU   28299399.0
10          DeMar DeRozan  TOR   27739975.0
11             Al Horford  BOS   27734405.0
12        Carmelo Anthony  OKC   26243760.0
13         Damian Lillard  POR   26153057.0
14           Jrue Holiday  NOP   25686667.0
15             Chris Bosh  MIA   25289390.0
16           Kevin Durant  GSW   25000000.0
17            Otto Porter  WAS   24773250.0
18             Chris Paul  HOU   24599495.0
19          C.J. McCollum  POR   23962573.0
20           Bradley Beal  WAS   23775506.0
21          Anthony Davis  NOP   23775506.0
22         Andre Drummond  DET   23775506.0
23       Hassan Whiteside  MIA   23775506.0
24          Dwight Howard  CHO   23500000.0
25       Chandler Parsons  MEM   23112004.0
26        Harrison Barnes  DAL   23112004.0
27            J.J. Redick  PHI   23000000.0
28             Marc Gasol  MEM   22642350.0
29             Kevin Love  CLE   22642350.0
30            Brook Lopez  LAL   22642350.0
31         DeAndre Jordan  LAC   22642350.0
32           Steven Adams  OKC   22471910.0
33  Giannis Antetokounmpo  MIL   22471910.0
34          Nicolas Batum  CHO   22434783.0
35            Rudy Gobert  UTA   21974719.0
36      LaMarcus Aldridge  SAS   21461010.0
37         Victor Oladipo  IND   21000000.0
38            Enes Kanter  NYK   20566802.0
39       Danilo Gallinari  LAC   20559599.0
40            Serge Ibaka  TOR   20061729.0
41            George Hill  CLE   20000000.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子